# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.XML_Serialization.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Juliana Thome\RiderProjects\Serialization\XML_Serialization\.idea\.idea.XML_Serialization\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
